<h2>投稿一覧</h2>
<div id="タグリスト">
  <% @tag_list.each do |list| %>
    <span>
      <%= link_to list.name, tag_posts_path(interior_tag_id: list.id) %>
      <%= "(#{list.posts.count})" %>
    </span>
    <br>
  <% end %>
</div>
<div id="タグによって絞り込んだ投稿一覧">
  <%= "タグが ─ " %>
  <strong><%= @tag.interior_tag_name %></strong>
  <%= " ─ の投稿一覧" %>
  <br>
  <% @posts.each do |post| %>
    <%= link_to post.content, post %>
    <br>
  <% end %>
</div>
<%= link_to 'ホーム', root_path %>