<div class="row my-2 text-success">
  <% flash.each do |message_type, message| %>
    <%= content_tag :div, message, class: message_type %>
  <% end %>
</div>
<div class="row">
  <div class="post-title">
    <h1><%= @post.title %></h1>
  </div>
</div>
<div class="post-info">
  <div class="d-flex">
    <p class="post-time fw-bold text-secondary mb-0">
      <i class="fa-regular fa-clock"></i>
      <%= @post.created_at.strftime('%Y.%m.%d') %>
    </p>
  </div>
</div>
<div class="row">
  <span class="border-top bg-success my-4"></span>
  <div class="img-thumbnail">
    <div class="col" id="largeImageContainer" style="max-width: 100%;">
      <img class="img-fluid mx-auto d-block" id="largeImage" src="">
    </div>
  </div>
</div>
<div class="row my-3">
  <% if @post.images.attached? %>
    <% @post.images.each do |image| %>
      <div class="col-2 mb-2 d-flex" style="max-width: 100%;">
        <%= image_tag image, size: "200", class: "small-image img-thumbnail" %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="row my-3">
  <p class="post-body fw-bold"><%= @post.body %></p>
</div>
<div class="row post-menu d-grid gap-2 col-2 mx-auto">
  <%= link_to "削除", admin_post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-success my-1" %>
  <%= link_to "戻る", admin_dashboards_path, class: "btn btn-secondary" %>
</div>
