<div class="row justify-content-center mt-5">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h5 class="text-center text-dark bg-light py-4 mb-0">ユーザーログイン</h5>
      </div>
      <div class="card-body">
        <%= form_with model: @user, url: user_session_path do |f| %>
          <div class="mb-3">
            <%= f.label :email, class: "form-label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "example@example.com" %>
            <div id="emailHelp" class="form-text">メールアドレスを入力してください。</div>
          </div>
          <div class="mb-3">
            <%= f.label :password, class: "form-label" %>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "パスワード" %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="field mb-3">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          <div class="d-grid -gap2">
            <%= f.submit "ログイン", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
      <div class="card-footer text-center">
        <p>アカウントをお持ちでないですか？ <%= link_to "新規登録", new_user_registration_path %></p>
      </div>
    </div>
  </div>
</div>