<div class="col">
  <div class="card mb-3" style="max-width: 540px;">
    <div id="post-<%= post.id %>">
      <div>
        <%= link_to post_path(post.id) do %>
          <%= image_tag post.images.first.variant(gravity: :center, resize: "300x300^", crop: "300x300+0+0").processed, class: "card-img-top" %>
        <% end %>
      </div>
      <div class="card-body">
        <h6>
          <p class="card-title font-bold">
            <i class="fa-solid fa-house text-secondary"></i>
            <%= link_to post.title, post_path(post.id), class: "post-link text-secondary link-offset-2 link-offset-3-hover link-underline-secondary link-underline-opacity-0 link-underline-opacity-75-hover" %>
          </p>
        </h6>
        <div class="card-user">
          <i class="fa-solid fa-user text-secondary"></i>
          <%= link_to post.user.name, user_path(post.user.id), class: "post-link text-secondary link-offset-2 link-offset-3-hover link-underline-secondary link-underline-opacity-0 link-underline-opacity-75-hover" %>
        </div>
        <div class="favorite-icon">
          <i class="fa fa-heart unlike-btn text-secondary"></i>
          <%= post.favorites.length %>
        </div>
      </div>
    </div>
  </div>
</div>