<% if @post.images.attached? %>
  <% @post.images.each do |image| %>
    <div class="mb-2 inline-flex">
      <%= image_tag(image, width:500) %>
    </div>
  <% end %>
<% end %>
<div>
  <p>タイトル</p>
  <%= @post.title %>
</div>
<div>
  <p>コメント</p>
  <%= @post.body %>
</div>
<div>
  <%= link_to user_path(@user.id) do %>
    <%= @post.user.name %>
  <% end %>
</div>
<!-- タグリスト -->
<% @post_interior_tags.each do |tag| %>
  <i class="fa-sharp fa-solid fa-tag"></i>
  <%= link_to tag.name, search_tag_path(interior_tag_id: tag.id) %>
<% end %>
<div id = "favorite_<%= @post.id %>">
  <%= render partial: "favorites/favorite", locals: { post: @post } %>
</div>
<div>
  <%= link_to "編集", edit_post_path(@post) %>
  <% if @post.user == current_user %>
    <%= link_to "削除", post_path(@post), method: :delete %>
  <% end %>
</div>