<!DOCTYPE html>
<html>
  <head>
    <title>InteriorSnaps</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/192e9a221f.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg Zp-3">
        <div class="container-fluid">
          <h4><%= link_to "InteriorSnaps", root_path, class: "navbar-brand p-3 text-light" %></h4>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end">
                <li class="nav-link">
                  <a data-bs-toggle="collapse" href="#collapseExample1" class="link-light link-offset-2 link-underline-opacity-0">
                    <i class="fa-solid fa-magnifying-glass text-light"></i>
                    検索
                  </a>
                </li>
                <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to '新規投稿', new_post_path, class: 'nav-link text-light' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'マイページ', user_path(current_user.id), class: 'nav-link text-light' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-light' %>
                </li>
                <% else %>
                <li class="nav-item">
                  <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-light' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-light' %>
                </li>
                <% end %>
                <li class="nav-item">
                  <%= link_to 'ABOUT', about_path, class: 'nav-link text-light' %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
      <ul class="collapse bg-body-secondary" id="collapseExample1">
        <div class="row align-items-center">
          <form>
            <div class="col-sm-5 pt-2 d-inline-flex">
              <input type="text" class="form-control" id="inputtag">
              <div class="col text-nowrap px-2">
                <button type="search" class="btn btn-primary">検索</button>
              </div>
            </div>
          </form>
          <div class="col py-3 d-inline-flex">
            <h6><i class="fa-sharp fa-solid fa-tag text-secondary pe-1 pt-1"></i></h6>
            <%= link_to "タグ一覧", tag_list_path, class: "text-success link-offset-2
            link-offset-3-hover link-underline-success link-underline-opacity-0
            link-underline-opacity-75-hover" %>
          </div>
        </div>
      </ul>
      <div class="container mt-3 mb-3">
        <%= yield %>
      </div>
    </main>
    <footer class="p-3">
      <div class="container">
        <div class="footer text-center text-light">
          <h5>InteriorSnaps</h5>
        </div>
      </div>
    </footer>
  </body>
</html>
