<!DOCTYPE html>
<html>
  <head>
    <title>InteriorSnaps</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/192e9a221f.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg bg-secondary Zp-3">
        <div class="container-fluid">
          <a class="navbar-brand p-3 text-light" href="/">Interior Snaps</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end">
              <li class="nav-link">
                <a data-bs-toggle="collapse" href="#collapseExample1" class="link-light link-offset-2 link-underline-opacity-0">
                  <i class="fa-solid fa-magnifying-glass text-light"></i>
                  検索
                </a>
              </li>
              <li class="nav-item">
                <%= link_to '投稿一覧', posts_path, class: 'nav-link text-light' %>
              </li>
              <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to '新規投稿', new_post_path, class: 'nav-link text-light' %>
              </li>
              <li class="nav-item">
                <%= link_to 'マイページ', user_path(current_user.id), class: 'nav-link text-light' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-light' %>
              </li>
              <% else %>
              <li class="nav-item">
                <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-light' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-light' %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
      <ul class="collapse p-3 mb-2 bg-body-secondary" id="collapseExample1">
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </form>
            <div class="text-dark">GENRE</div>
            <div class="text-dark">COLER</div>
            <div class="text-dark">FLOOR</div>
            <button class="btn btn-outline-secondary" type="submit">この条件で検索</button>
          </div>
        </div>
      </ul>
    <%= yield %>
    </main>
    <footer class="bg-secondary text-white pt-5 pb-4">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4">
            <p>善良な市民同士で無差別に食欲を煽るSNS</p>
          </div>
          <div class="col-md-8">
            <h6 class="text-white mt-2 mb-3">Link</h6>
            <ul class="p-0 list-unstyled">
              <li>
                <a href="" title="About" class="text-white-50">会社概要</a>
              </li>
              <li>
                <a href="" title="License informations" class="text-white-50">プライバシーポリシー</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
